---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title ibm-plex-sans-200">
      {% if site.title == "blank" -%}<span class="font-weight-bold"
        >{{ site.first_name }}</span
      >
      {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%-
      endif %}
    </h1>
    <p class="subtitle">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}" >
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %} {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}
      {% include figure.html path=profile_image_path class=profile_image_class alt=page.profile.image cache_bust=true -%}
      {% endif -%}
      {%- if page.profile.more_info %}
      <div class="more-info">{{ page.profile.more_info }}</div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">{{ content }}</div>

    <hr\>
    <!-- News -->
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {% if page.news and site.announcements.enabled -%}
          <h2>
            <a href="{{ '/news/' | relative_url }}" style="color: inherit"
              >news</a
            >
          </h2>
          {%- include news.html limit=true %} {%- endif %}
        </div>

        <!-- Latest posts -->
        <div class="col-sm">
          {% if page.latest_posts -%}
          <h2>
            <a href="{{ '/blog/' | relative_url }}" style="color: inherit"
              >latest posts</a
            >
          </h2>
          {%- include latest_posts.html %} {%- endif %}
        </div>
      </div>
    </div>

    <hr\>
    <!-- Selected papers -->
    {% if page.selected_papers -%}
    <h2>
      <a href="{{ '/publications/' | relative_url }}" style="color: inherit"
        >selected publications</a
      >
    </h2>
    {%- include selected_papers.html %} {%- endif %}

    <hr\>

    <h2>
      <span style="color: inherit" >community service</span>
    </h2>
    <li>Artifact Evaluation Committee: <a href="https://secartifacts.github.io/usenixsec2025/organizers">Usenix Security '25</a>, ACM CCS '25</li>
    <li>Poster Program Committee: <a href="https://www.sigsac.org/ccs/CCS2025/call-for-posters-and-demos/">ACM CCS '25</a></li>

    <!-- Other -->

    <hr\>
    <h2>other</h2>
    <p>Outside of research, I dabble in video game development, develop CLI and web
    tools, make pixel arts and contribute to open-source software. Check out my
    other projects: </p>

    <ul class="post-list">
      <li>
        <div class="row">
          <div class="col-sm-3">
            <a href="https://cafemanhzu.itch.io/the-last-cat">
            <h4 class="text-center">The last cat</h4>
              <img
                src="https://img.itch.zone/aW1nLzE1NTkxOTMzLnBuZw==/315x250%23c/6%2BNiZ3.png"
                class="img-fluid z-depth-1 rounded"
                width="auto"
                height="auto"
                alt="1726659232142.jpg"
                onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
              />
            </a>
          </div>
          <div class="col-sm-9">
            <p>A suika clone made with
            <a
              href="https://github.com/bevyengine/bevy"
              rel="external nofollow noopener"
              target="_blank"
              >Bevy</a
            >
            with cats in place of fruits 😺.
          </p>
          </div>
        </div>
      </li>

      <li>
        <h4>Github repositories</h4>
        <div
          class="repositories d-flex flex-wrap flex-md-row flex-column justify-content-between align-items-center"
        >
          {% for repo in site.data.repositories.github_repos %} {% include
          repository/repo.html repository=repo %} {% endfor %}
        </div>
      </li>
    </ul>
    <!-- <div class="profile float-left"> -->
    <!--   <div class="clearfix"> -->
    <!--     <p>testtesttest</p> -->
    <!--   </div> -->
    <!--   <a href=""> -->
    <!--     <img -->
    <!--       src="https://img.itch.zone/aW1nLzE1NTkxOTMzLnBuZw==/315x250%23c/6%2BNiZ3.png" -->
    <!--       class="img-fluid z-depth-1 rounded" -->
    <!--       width="200px" -->
    <!--       height="auto" -->
    <!--       alt="1726659232142.jpg" -->
    <!--       onerror="this.onerror=null; $('.responsive-img-srcset').remove();" -->
    <!--     /> -->
    <!--   </a> -->
    <!-- </div> -->

    <!-- Social -->
    {%- if page.social %}
    <div class="social">
      <div class="contact-icons">{% include social.html %}</div>

      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {%- endif %}
  </article>
</div>
